$containerMaxWidth: 1210px;



/* colors */
$white: #fff;
$black: #000;
$black25: #252525;
$yellow: #FFCC00;
$greyE2: #E2E2E2;
$greyD9: #D9D9D9;
$greyD7: #D7D7D7;



/* fonts */

$fontStandart: 'Arial, sans-serif';
$RobotoRegular: 'Roboto-Regular';
$RobotoBold: 'Roboto-Bold';
$RobotoSemiBold: 'Roboto-Bold';
